span.jskeyword {
 font-weight: bold ;
}

span.jscomment {
 font-weight: bold ;
 color: brown ;
}

span.jspunctuation {
    color: rgb(128, 116, 102);
}

span.jsidentifier {
}

span.jsnumber {
 color: rgb(102, 147, 180) ;
}

span.jsstring {
 color: brown ;
}

span.jsregexp {
 color: brown ;
}
