body {
  font: 14px "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  overflow-y: scroll;
  color: rgb(255,232,204);
  background-color: rgb(54, 44, 35); /*rgb(77, 62, 50);*/
  background-image: url('css/brushed_metal.jpg');
/* brushed metal textures based on zooboing's brushed metal

   http://www.flickr.com/photos/zooboing/3662888243/sizes/o/in/set-72157620464703577/

 */
}

.highlight {
    width: 700px;
    overflow-x: auto;
    padding: 10px;
    background-color: rgb(43, 29, 23); /*rgb(51, 41, 33);*/
    background-image: url('css/brushed_metal_dark.jpg');
    border-radius: 0.3em;
}

a {
  color: rgb(242, 184, 121);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.body {
  width: 960px;
  margin: auto;
}

.content {
  position: relative;
  width: 720px;
  margin-left: 0px;
}

.content img {
  display: block;
  margin: auto;
}

.sidebar {
  position: absolute;
  left:  730px;
  width: 230px;
  font-weight: 300;
}

h1 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: .3em;
}

.sidebar {
  color: #666;
}

ul {
  list-style-type: none;
}

.keyword {
    font-weight: bold;
    font-family: monospace;
    padding-right: .1em;
    padding-left: .1em;
}
